<template>
  <div class="parallax">
    <input
      type="radio"
      name="slider"
      class="slide-radio1"
      checked
      id="slider_1"
    >
    <input
      type="radio"
      name="slider"
      class="slide-radio2"
      id="slider_2"
    >
    <input
      type="radio"
      name="slider"
      class="slide-radio3"
      id="slider_3"
    >

    <div class="parallax-pagination">
      <label
        for="slider_1"
        class="page1"
      ></label>
      <label
        for="slider_2"
        class="page2"
      ></label>
      <label
        for="slider_3"
        class="page3"
      ></label>
    </div>

    <!-- AIR STRUCTURE 19 -->
    <div class="structure-screen slider slide-1">
      <div class="structure-card">
        <div class="structure-card__header">
          <img
            src="http://i66.tinypic.com/30k4ufs.png"
            alt="Nike"
            class="header__img"
          />
          <div class="header__price">$120</div>
        </div>
        <div class="structure-card__body">
          <div class="body__wrapper">
            <h1>Air Structure 19</h1>
            <p>
              From the Flymesh upper to the triple-density foam midsole, the Nike Air Zoom Structure 19 Men's Running Shoe offers plenty of support and the response you need for a smooth, stable ride that feels ultra fast.
            </p>
          </div>
          <img
            src="https://res.cloudinary.com/stephensun/image/upload/v1529634534/air_structure.png"
            alt="Air Structure 19"
            id="structure-card__img"
          />
          <div class="body__footer">
            <button>Wish List</button>
            <div class="footer__category">Men's Running Shoe</div>
          </div>
        </div>
      </div>
    </div>

    <!-- AIR SOLSTICE QS -->
    <div class="solstice-screen slider slide-2">
      <div class="solstice-card">
        <div class="solstice-card__header">
          <img
            src="http://i66.tinypic.com/30k4ufs.png"
            alt="Nike"
            class="header__img"
          />
          <div class="header__price">$129</div>
        </div>
        <div class="solstice-card__body">
          <div class="body__wrapper">
            <h1>Air Solstice QS</h1>
            <p>
              The Nike Air Solstice draws inspiration from the swoosh's classic running shoes of the 1980's updating the style with premium materials and impressive production quality.
            </p>
          </div>
          <img
            src="https://res.cloudinary.com/stephensun/image/upload/v1529634534/air_solstice.png"
            alt="Air Solstice QS"
            id="solstice-card__img"
          />
          <div class="body__footer">
            <button>Wish List</button>
            <div class="footer__category">Men's Shoe</div>
          </div>
        </div>
      </div>
    </div>

    <!-- AIR HUARACHE UTILITY -->
    <div class="huarache-screen slider slide-3">
      <div class="huarache-card">
        <div class="huarache-card__header">
          <img
            src="http://i66.tinypic.com/30k4ufs.png"
            alt="Nike"
            class="header__img"
          />
          <div class="header__price">$140</div>
        </div>
        <div class="huarache-card__body">
          <div class="body__wrapper">
            <h1>Air Huarache Utility</h1>
            <p>
              The Nike Air Huarache Utility Men's Shoe toughens up a famous running shoe with a nylon upper, fused mudguard and vibrant detail.
            </p>
          </div>
          <img
            src="https://res.cloudinary.com/stephensun/image/upload/v1529634534/air_huarache.png"
            alt="Air Huarache Utility"
            id="huarache-card__img"
          />
          <div class="body__footer">
            <button>Wish List</button>
            <div class="footer__category">Men's Shoe</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
};
</script>

<style lang="scss" scoped>
$blue: #4054FF;
$gold: #FFBA00;
$gray: #A9ABAF;
$purple: #854EFB;
$white: #FFF;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.parallax {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.slide-1 {
  left: 0;
}

.slide-2 {
  left: 100%;
}

.slide-3 {
  left: 200%;
}

.structure-screen {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $purple;
}

.solstice-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $gold;
}

.huarache-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $blue;
}

.structure-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  background: linear-gradient(#f72a48, #fac73b);
  border-radius: 20px;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);

  .structure-card__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 20px;

    .header__img {
      transform: scale(0.6);
    }

    .header__price {
      color: $white;
      font-size: 24px;
    }
  }

  .structure-card__body {
    .body__wrapper {
      padding: 15px 42px 0 35px;

      h1,
      p {
        color: $white;
      }

      h1 {
        font-size: 18px;
        text-transform: uppercase;
      }

      p {
        line-height: 1.4;
        font-size: 12px;
      }
    }

    img {
      width: 110%;
      margin-top: -35px;
    }

    .body__footer {
      text-align: center;
      height: 160px;
      margin-top: -123px;
      background-color: $white;
      border-radius: 0 0 20px 20px;

      button {
        padding: 15px 60px;
        margin-top: 50px;
        color: $purple;
        background-color: $white;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid $purple;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
      }

      .footer__category {
        margin-top: 15px;
        color: $gray;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.solstice-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  background: linear-gradient(#3ba2fc, #fdd101);
  border-radius: 20px;

  .solstice-card__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 20px;

    .header__img {
      transform: scale(0.6);
    }

    .header__price {
      color: $white;
      font-size: 24px;
    }
  }

  .solstice-card__body {
    .body__wrapper {
      padding: 15px 42px 0 35px;

      h1,
      p {
        color: $white;
      }

      h1 {
        font-size: 18px;
        text-transform: uppercase;
      }

      p {
        line-height: 1.4;
        font-size: 12px;
      }
    }

    img {
      width: 110%;
      margin-top: -15px;
    }

    .body__footer {
      text-align: center;
      height: 160px;
      margin-top: -123px;
      background-color: $white;
      border-radius: 0 0 20px 20px;

      button {
        padding: 15px 60px;
        margin-top: 50px;
        color: $gold;
        background-color: $white;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid $gold;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
      }

      .footer__category {
        margin-top: 15px;
        color: $gray;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.huarache-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  background: linear-gradient(#28caf5, #dbf93c);
  border-radius: 20px;

  .huarache-card__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 20px;

    .header__img {
      transform: scale(0.6);
    }

    .header__price {
      color: $white;
      font-size: 24px;
    }
  }

  .huarache-card__body {
    .body__wrapper {
      padding: 15px 42px 0 35px;

      h1,
      p {
        color: $white;
      }

      h1 {
        font-size: 18px;
        text-transform: uppercase;
      }

      p {
        line-height: 1.4;
        font-size: 12px;
      }
    }

    img {
      width: 110%;
      margin-top: -15px;
    }

    .body__footer {
      text-align: center;
      height: 160px;
      margin-top: -123px;
      background-color: $white;
      border-radius: 0 0 20px 20px;

      button {
        padding: 15px 60px;
        margin-top: 50px;
        color: $blue;
        background-color: $white;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid $blue;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
      }

      .footer__category {
        margin-top: 15px;
        color: $gray;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

/* Pagination */
.parallax-pagination {
  z-index: 1000;
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: flex;
  margin-left: -54px;

  label {
    display: inline-block;
    margin: 0 8px;
    width: 20px;
    height: 3px;
    background-color: $white;
    border-radius: 25%;
    cursor: pointer;

  }
}

.slide-radio1:checked ~ .parallax-pagination .page1,
.slide-radio2:checked ~ .parallax-pagination .page2,
.slide-radio3:checked ~ .parallax-pagination .page3 {
  width: 20px;
  height: 3px;
  border: 1px solid #ea2e49;
  background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  transform: translateX(0%);

  .solstice-card__header,
  .solstice-card__body .body__wrapper {
    transform: translateX(-5%);
    transition: transform 1600ms ease-in;
  }

  #solstice-card__img {
    transform: translateX(-10%);
    transition: transform 1200ms ease-in;
  }

  .huarache-card__header,
  .huarache-card__body .body__wrapper {
    transform: translateX(-5%);
    transition: transform 1600ms ease-in;
  }

  #huarache-card__img {
    transform: translateX(-10%);
    transition: transform 1200ms ease-in;
  }
}

.slide-radio2:checked ~ .slider {
  transform: translateX(-100%);

  .structure-card__header,
  .structure-card__body .body__wrapper {
    transform: translateX(-5%);
    transition: transform 1600ms ease-in;
  }

  #structure-card__img {
    transform: translateX(-10%);
    transition: transform 1200ms ease-in;
  }

  .huarache-card__header,
  .huarache-card__body .body__wrapper {
    transform: translateX(-5%);
    transition: transform 1600ms ease-in;
  }

  #huarache-card__img {
    transform: translateX(-10%);
    transition: transform 1200ms ease-in;
  }
}

.slide-radio3:checked ~ .slider {
  transform: translateX(-200%);

  .structure-card__header,
  .structure-card__body .body__wrapper {
    transform: translateX(-5%);
    transition: transform 1600ms ease-in;
  }

  #structure-card__img {
    transform: translateX(-10%);
    transition: transform 1200ms ease-in;
  }

  .solstice-card__header,
  .solstice-card__body .body__wrapper {
    transform: translateX(-5%);
    transition: transform 1600ms ease-in;
  }

  #solstice-card__img {
    transform: translateX(-10%);
    transition: transform 1200ms ease-in;
  }
}

/* Slider */
.slider {
  top: 0;
  transition: transform 1500ms ease-in-out;
  transform: scale(1);
}

</style>
