<template>
  <b-container>
    <div class="container-box">
      <div class="box-content">
        <div class="content-header">
          <h2>Anime</h2>
          <p>Które anime lubisz najbardziej?</p>
          <div class="mt-3">Wybrano: <strong>{{ selected }}</strong></div>
        </div>
        <div class="content-body">
          <b-form-group>
            <b-row
              cols="1"
              cols-md="2"
              class="text-center"
            >
              <b-col>
                <div class="one-content">
                  <h2>Dragon Ball</h2>
                  <img
                    class="image"
                    src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg"
                  />
                  <div>
                    <input
                      class="checkbox-likes"
                      type="radio"
                      name="likes"
                      id="like-1"
                      v-model="selected"
                      value="Dragon Ball"
                    >
                    <label
                      class="for-checkbox-likes"
                      for="like-1"
                    >
                      <i class="fas fa-heart"></i>
                    </label>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corporis, velit tempore deserunt possimus rerum repellat doloribus voluptatibus est facilis, recusandae quis, distinctio quos nihil iusto dolores architecto amet nisi! Explicabo mollitia vero unde, quidem ullam repudiandae assumenda optio est dolorum porro fugit, doloremque provident perferendis iure quam labore quasi!</p>
                </div>
              </b-col>
              <b-col>
                <div class="one-content">
                  <h2>OnePiece</h2>
                  <img
                    class="image"
                    src="https://sm.ign.com/t/ign_pl/screenshot/default/1-1_vfpv.1280.jpg"
                  />
                  <div>
                    <input
                      class="checkbox-likes"
                      type="radio"
                      name="likes"
                      id="like-2"
                      v-model="selected"
                      value="One Piece"
                    >
                    <label
                      class="for-checkbox-likes"
                      for="like-2"
                    >
                      <i class="fas fa-heart"></i>
                    </label>

                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui temporibus eaque quas optio mollitia possimus, nulla, aut debitis deleniti sunt fugiat praesentium doloribus placeat iusto laboriosam eveniet ut cumque explicabo ipsam, minus sit laudantium alias quisquam? Eum aliquam tenetur in!</p>
                </div>
              </b-col>
              <!--               <b-col>
                <h2>Fairy Tail</h2>
                <img
                  class="image"
                  src="https://sklepiksenpaia.pl/userdata/public/gfx/333/Fairy_Tail_2018_New_Visual.jpg"
                />
              </b-col>
              <b-col>
                <h2>Black Clover</h2>
                <img
                  class="image"
                  src="https://blackclover.wbijam.pl/grafika/newsy/wiad_25_logo.jpg"
                />
              </b-col> -->
            </b-row>
          </b-form-group>
        </div>
      </div>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      selected: ''
    };
  }
};
</script>

<style lang="scss" scoped>
//b-container class="container"
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #d5e6e6;
  border: 5px solid;
}

.container-box {
  margin: 10px;
  padding: 0px 0px 1px 0px;
  background-color: rgb(20, 160, 160);
}
.content-header {
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

.content-body {
  position: relative;
  margin: 20px 10px 0px 10px;
  background-color: rgb(12, 180, 144);
}

.one-content {
  background-color: #38c3e6;
}

.image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked),
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.for-checkbox-likes {
  background-color: #6b9696;
  border: 3px solid #444857;
  border-radius: 5px;
  padding: 10px 10px 7px 10px;
  color: #d5e6e6;
}

.for-checkbox-likes:hover {
  border: 3px solid #444857;
  background-image: linear-gradient(298deg, var(--red), var(--yellow));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(26, 53, 71, 0.07);
}

.checkbox-likes:checked ~ .for-checkbox-likes {
  color: orangered;
  background-image: linear-gradient(298deg, var(--white), var(--green));
  background-color: rgb(89, 208, 230);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(26, 53, 71, 0.07);
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
</style>
