<template>
  <div id="navigation">
    <h1>YouChoose</h1>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#navigation {
  position: relative;
  margin: 0 auto;
  background-color: #d5e6e6;
  /* color: #15202c; */
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  //transform: rotate(45deg);
}
</style>
