<template>
  <div class="app">
    <Navigation />
    <div class="nav">
      <!--       <router-link to="/">YouChoose</router-link>
      <router-link to="/about">about</router-link> -->
    </div>
    <router-view />
  </div>
</template>
<script>
import Navigation from './views/Navigation.vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

export default {
  name: 'app',
  data() {
    return {};
  },
  components: {
    Navigation
  }
};
</script>
<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  background-color: #38b4c2;
  color: #15202c;
}

.row {
  margin: 0px;
}

</style>
